body{
  background-image: linear-gradient(to right, #2a1141, #c3adad);
}
nav {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(to right, #fcf6f5, #e953d0);
  color: #000;
  margin-bottom: 20px;
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navitems:hover{
  cursor: pointer;
  font-size:x-large;
  color: rgb(17, 129, 71);
}
.navitems h2 {
  font-size: 30px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
}
.navitems button {
  width: 15%;
  margin: 22px 32px 0px 0px;
  height: 10vh;
  border: 2px solid pink;
  border-radius: 50px;
  background-color: #f3ebe7;
  font-family: serif;
  font-size: x-large;
}

.fetchbtn:hover {
  background-color: rgb(63, 51, 187);
  cursor: pointer;
  font-size:x-large;
  color: rgb(112, 14, 249);
  transform: scale(1.1);
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px rgb(212, 0, 255),
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    /* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #030405, #dbd1d1);
}
#main{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  overflow: hidden;
}
.name:hover {
  cursor: pointer;
  color: rgb(10, 0, 10);
}
.avatar {
  border-radius: 2%;
}
.Logo:Hover{
  box-shadow: 10px 10px rgb(255, 0, 242);
  transform: scale(1.2);
}
.profile_cont {
  border-radius: 500%;
  background-image: radial-gradient(#f4f5f7, #4b0b0e);
  margin: 20px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 10;
  margin-top: 8vh;
}
.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
  color: rgb(26, 11, 96);
  
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}